@model IEnumerable<SEM_project.Models.Entities.Employee>

@{
    ViewData["Title"] = "Index";
}

@if (@TempData["AlertMessage"] != null)
{
    <div class="alert-success jumbotron">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

@if (@TempData["ErrorMessage"] != null)
{
    <div class="alert-danger jumbotron">
        <strong>Error !</strong> @TempData["ErrorMessage"]
    </div>
}

<style>

    .thNew {
        background-color: #326091;
        color: white;
    }

    .thmov {
        background-color: #605F5F;
        color: white;
    }

</style>

<h1 style="color : #326091"><b>Empleados</b></h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="table" class="table table-bordered table-striped">
                        <thead>
                            <tr class="thNew">
                                <!-- <th>@Html.DisplayNameFor(model => model.EmployeeId)</th>-->
                                <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
                                <th>@Html.DisplayNameFor(model => model.IDNumber)</th>
                                <th>@Html.DisplayNameFor(model => model.AssignedEquipmentPlate)</th>
                                <!-- Add more headers for other properties as needed -->
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <!-- <td>@Html.DisplayFor(modelItem => item.EmployeeId)</td>-->
                                    <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IDNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AssignedEquipmentPlate)</td>
                                    <!-- Add more columns for other properties as needed -->
                                    <td>
                                        <a class="fa fa-pencil-alt" asp-action="Edit" asp-route-id="@item.EmployeeId"></a> |
                                        <a class="fa fa-eye" asp-action="Details" asp-route-id="@item.EmployeeId"></a> |
                                        <a class="fa fa-trash" asp-action="Delete" asp-route-id="@item.EmployeeId"></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
