@model IEnumerable<EmpresariosConLiderazgo.Models.Entities.Balance>

@{
    ViewData["Title"] = "Movimientos";

}

@if (@TempData["AlertMessage"] != null)
{
    <div class="alert-success jumbotron">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

<style>

    .thNew {
        background-color: #326091;
        color: white;
    }

        .thmov {
        background-color: #605F5F;
        color: white;
    }

</style>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                             <th>Producto:
                            <tr class="thNew">
                                <th>  @Html.DisplayNameFor(model => model.Id)</th>
                                <th> @Html.DisplayNameFor(model => model.Product)</th>
                                <th> @Html.DisplayNameFor(model => model.BaseBalanceAvailable)</th>
                            <th> Utilidad</th>
                            <th> Total</th>
                                <th> @Html.DisplayNameFor(model => model.InitialDate)</th>
                                <th> @Html.DisplayNameFor(model => model.EndlDate)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Product)</td>
                                    <td>@Html.DisplayFor(modelItem => item.BaseBalanceAvailable)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Profit)</td>
                                    <td>@Html.DisplayFor(modelItem => item.BalanceAvailable)</td>
                                    <td>@Html.DisplayFor(modelItem => item.InitialDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EndlDate)</td>

                                </tr>


                            <thead>
                                <th>Movimientos :
                                <tr class="thmov">
                                    <th> @Html.DisplayNameFor(model => model.MovementsByBalance[0].Id)</th>
                                    <th> @Html.DisplayNameFor(model => model.MovementsByBalance[0].Name)</th>
                                    <th> @Html.DisplayNameFor(model => model.MovementsByBalance[0].DateMovement)</th>
                                    <th> @Html.DisplayNameFor(model => model.MovementsByBalance[0].BalanceBefore)</th>
                                    <th> @Html.DisplayNameFor(model => model.MovementsByBalance[0].CashOut)</th>
                                    <th> @Html.DisplayNameFor(model => model.MovementsByBalance[0].BalanceAfter)</th>
                                    <th> @Html.DisplayNameFor(model => model.MovementsByBalance[0].status)</th>
                                </tr>
                            </thead>
                            <tbody>
                              
                                        @foreach (var movement in item.MovementsByBalance)
                                        {
                                              <tr>
                                        <td>@Html.DisplayFor(modelmovement => movement.Id)</td>
                                        <td>@Html.DisplayFor(modelmovement => movement.Name)</td>
                                        <td>@Html.DisplayFor(modelmovement => movement.DateMovement)</td>
                                        <td>@Html.DisplayFor(modelmovement => movement.BalanceBefore)</td>
                                        <td>@Html.DisplayFor(modelmovement => movement.CashOut)</td>
                                        <td>@Html.DisplayFor(modelmovement => movement.BalanceAfter)</td>
                                        <td>@Html.DisplayFor(modelmovement => movement.status)</td>
                                         </tr>
                                        }
                               
                            </tbody>

                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

