@using SEM_project.Utils
@model IEnumerable<MovementBalance>

@{
    ViewData["Title"] = "Index";
}

@if (@TempData["AlertMessage"] != null)
{
    <div class="alert-success jumbotron">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

@if (@TempData["Error"] != null)
{
    <div class="alert-danger jumbotron">
        <strong>Error !</strong> @TempData["Error"]
    </div>
}
<style>

    .thNew {
        background-color: #326091;
        color: white;
    }

        .thmov {
        background-color: #605F5F;
        color: white;
    }

</style>


<h1 style="color : #326091"><b>Aprobación de Retiros</b></h1>




<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="table" class="table table-bordered table-striped">
                        <thead>
                            <tr class="thNew">
                                <th>@Html.DisplayNameFor(model => model.DateMovement)</th>
                                <th> @Html.DisplayNameFor(model => model.UserApp)</th>
                                <th>@Html.DisplayNameFor(model => model.Product)</th>
                                <th> @Html.DisplayNameFor(model => model.BalanceAvailable)</th>
                                <th>@Html.DisplayNameFor(model => model.BaseBalanceAvailable)</th>
                                <th>@Html.DisplayNameFor(model => model.Profit)</th>
                                <th>@Html.DisplayNameFor(model => model.CashOut)</th>
                                <th>@Html.DisplayNameFor(model => model.Status)</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.DateMovement)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UserApp)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Product)</td>
                                    <td>@Html.DisplayFor(modelItem => item.BalanceAvailable)</td>
                                    <td>@Html.DisplayFor(modelItem => item.BaseBalanceAvailable)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Profit)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CashOut)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                
                                   <td>
                    <a class="fas fa-check" asp-action="ApproveCashOutById" asp-route-id="@item.MovementId" title="Aprobar" style="font-size: 24px; color: green"></a>
                    <a class="fas fa-times" asp-action="RejectCashOutById" asp-route-id="@item.MovementId" title="Rechazar" style="font-size: 24px; color: red"></a>
                </td>

                                </tr>
                            }
                    </table>
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

