@model IEnumerable<SEM_project.Models.Entities.Computer>

@{
    ViewData["Title"] = "Index";
  
}

<h5>Index</h5>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComputerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HardDisk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperativeSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstaledApplications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licences)
            </th>
 
            <th></th> 
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.ComputerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Processer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HardDisk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperativeSystem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComputerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ComputerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ComputerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
