@model IEnumerable<SEM_project.Models.Entities.Computer>

@{
    ViewData["Title"] = "Index";

}

@if (@TempData["AlertMessage"] != null)
{
    <div class="alert-success jumbotron">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

@if (@TempData["ErrorMessage"] != null)
{
    <div class="alert-danger jumbotron">
        <strong>Error !</strong> @TempData["ErrorMessage"]
    </div>
}

<style>

    .thNew {
        background-color: #326091;
        color: white;
    }

    .thmov {
        background-color: #605F5F;
        color: white;
    }

</style>

<h1 style="color : #326091"><b>Equipos</b></h1>


<p>
    <a asp-action="Create">Crear Nuevo Equipo</a>
</p>





<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="table" class="table table-bordered table-striped">
                        <thead>
                            <tr class="thNew">
                                <th>@Html.DisplayNameFor(model => model.Serial)</th>
                                <th> @Html.DisplayNameFor(model => model.Reference)</th>
                                <th>@Html.DisplayNameFor(model => model.Model)</th>
                                   <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                                <th>@Html.DisplayNameFor(model => model.IsAssigned)</th>
                                <th>@Html.DisplayNameFor(model => model.Unsubscribed)</th>
          
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>@Html.DisplayFor(modelItem => item.Serial)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Reference)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Model)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IsAssigned)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Unsubscribed)</td>


                                    <td>
                                    @if (!item.Unsubscribed)
                                    {
                                        <a class="fa fa-pencil-alt" asp-action="Edit" asp-route-id="@item.ComputerId" title="Editar"></a> 
                                    }
                                    | <a class="fa fa-eye" asp-action="Details" asp-route-id="@item.ComputerId" title="Detalles"></a> |
                                    
                                        @if (!item.Unsubscribed)
                                    {
                                        <a class="fa fa-unlock-alt" asp-action="Delete" asp-route-id="@item.ComputerId" title="Inactivar"></a>
                                    }
                                    </td>

                                </tr>
                            }
                    </table>
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->



