@model EmpresariosConLiderazgo.Models.Entities.Balance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Balance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserApp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserApp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BalanceAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BalanceAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastMovement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastMovement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndlDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndlDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
