@{
    ViewData["Title"] = "Home Page";
}
@if (@TempData["AlertMessage"] != null)
{
    <div class="alert-success jumbotron">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

@if (@TempData["ErrorMessage"] != null)
{
    <div class="alert-danger jumbotron">
        <strong>Error !</strong> @TempData["ErrorMessage"]
    </div>
}




<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@ViewBag.CountComputers<sup style="font-size: 20px"></sup></h3>

                        <p>Equipos Activos</p>
                    </div>
                    <div class="icon">
                        <i class="ion icon ion-laptop"></i>
                    </div>
                    @*                     <a href="#" class="small-box-footer">More info <i class="fas fa-computer"></i></a>
                    *@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@ViewBag.ActiveEmployees</h3>

                        <p>Funcionarios</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    @*                     <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    *@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@ViewBag.ActiveLicenses</h3>

                        <p>Licencias</p>
                    </div>
                    <div class="icon">
                        <i class="ion icon ion-paper-airplane"></i>
                    </div>
                    @*                     <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    *@
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-dark">
                    <div class="inner">
                        <h3>@ViewBag.UnassignedComputers</h3>

                        <p>Equipos sin asignar</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-desktop"></i>
                    </div>
                    @*                     <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    *@
                </div>
            </div>
            <!-- ./col -->

            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@ViewBag.UnsubscribedComputers</h3>

                        <p>Dados de baja</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-chevron-down"></i>
                    </div>
                    @*                     <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    *@
                </div>
            </div>
                       
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-secondary">
                    <div class="inner">
                        <div class="container">
                        </div>

                        <h2>Reportes Hardware & Software</h2>
                    </div>
                    <div class="icon">
                        <i class="ion ion-paperclip"></i>
                    </div>
                    <a href="https://app.powerbi.com/reportEmbed?reportId=195be172-c9c3-4014-95e3-9952e8e18d5c&autoAuth=true&ctid=9c48e088-5e44-4b0d-93a0-eeb2c6127c3d" class="small-box-footer">Ver más información <i class="fas fa-arrow-circle-right"></i></a>

               </div>
               
                
            </div>
            <!-- ./col -->

        </div>

        <div class="embed-responsive embed-responsive-21by9">
            <iframe title="V1_datasem_ppal" width="1140" height="541" src="https://app.powerbi.com/reportEmbed?reportId=a571b27a-ed1f-4ffc-859f-e6df523989c4&autoAuth=true&ctid=9c48e088-5e44-4b0d-93a0-eeb2c6127c3d" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable">

                <!-- Map card -->
                <div class="card bg-gradient-primary">

                    
                    <!-- /.card-body-->
                   @* <div class="card-footer bg-transparent">
                        <div class="row">
                            <div class="col-4 text-center">
                                <div id="sparkline-1"></div>
                                <div class="text-white">Activos</div>
                            </div>
                            <!-- ./col -->
                            <div class="col-4 text-center">
                                <div id="sparkline-2"></div>
                                <div class="text-white">Dados de baja</div>
                            </div>
                            <!-- ./col -->
                            <div class="col-4 text-center">
                                <div id="sparkline-3"></div>
                                <div class="text-white">Asignados</div>
                            </div>
                            <!-- ./col -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <!-- /.card -->
                <!-- solid sales graph -->
                <div class="card bg-gradient-info">
                    <div class="card-header border-0">
                        <h3 class="card-title">
                            <i class="fas fa-th mr-1"></i>
                            Equipos
                        </h3>

                        <div class="card-tools">
                            <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas class="chart" id="line-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer bg-transparent">
                        <div class="row">
                            <div class="col-4 text-center">
                                <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"
                                       data-fgColor="#39CCCC">

                                <div class="text-white">Activos</div>
                            </div>
                            <!-- ./col -->
                            <div class="col-4 text-center">
                                <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"
                                       data-fgColor="#39CCCC">

                                <div class="text-white">Inactivos</div>
                            </div>
                            <!-- ./col -->
                            <div class="col-4 text-center">
                                <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60"
                                       data-fgColor="#39CCCC">

                                <div class="text-white">Sin Asignar</div>
                    </div>*@
                            <!-- ./col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->

            </section>
            <!-- right col -->
        </div>
        <!-- /.row (main row) -->
                    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->